<!DOCTYPE html>
<html>
  <style>
    img.huechange { filter: hue-rotate(120deg); }
  </style>

  <head>
    <meta charset="utf-8">
    <!-- LEAFLET -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""></script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

    <!-- END LEAFLET -->
    <title>Fleet Management</title>
  </head>
  <body>
    <h1>Vehicle Tracker</h1>

    <!-- LEAFLET -->
    <div id="mapid" style = "width:900px; height:580px;"></div>
    <script src="../static/map.js"></script>
    <!-- END LEAFLET -->
  </body>
</html>